<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101656228884-rd5k5sp11nbenoaaougmh98oq343e7k5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101656228884-rd5k5sp11nbenoaaougmh98oq343e7k5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>101656228884-lga4l0ei12o2pi4hth7t883576iv18ni.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDRoSBenr1zc7-cnHR8s6OCm5735jGBjIU</string>
	<key>GCM_SENDER_ID</key>
	<string>101656228884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kzn.cindy</string>
	<key>PROJECT_ID</key>
	<string>cindy-online-shop</string>
	<key>STORAGE_BUCKET</key>
	<string>cindy-online-shop.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101656228884:ios:e43f3b4e3da9dcc5002301</string>
</dict>
</plist>